.fill-remaining-space {  
  flex: 1 1 auto;
}

.icon {
  padding: 0 14px;
}

md-sidenav {
  padding: 20px;
  width: 250px;
  background-color: #222d32;
  color: #FFFFFF;  
}

.container { 
  /*min-height: 650px !important;*/
}

md-toolbar {
    /*box-shadow: 0 5px 5px #999;*/
    z-index: 1;
    position: relative;
}

.fab {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}